@use "globales/variables";

.alerta-roja,
.alert-red,
.alerta-azul,
.alert-blue,
.alerta-verde,
.alert-green,
.alert-white,
.alerta-blanca,
.alerta-gris,
.alert-grey,
.alerta-negra,
.alert-black {

    *{
        font-family: 'Roboto', -apple-system, 
                    BlinkMacSystemFont, 
                    "Segoe UI", 
                    "Helvetica Neue", 
                    Arial, 
                    "Noto Sans", 
                    sans-serif, 
                    "Apple Color Emoji", 
                    "Segoe UI Emoji", 
                    "Segoe UI Symbol", 
                    "Noto Color Emoji";
    }

    display: inline-block;
    padding: variables.$alerta-padding;
    background-color: variables.$alerta-bg;
    border: variables.$alerta-borde;
    border-radius: variables.$alerta-bor-rad;
    font-size: variables.$alarta-fz;
    line-height: variables.$alerta-lh;
    font-weight: variables.$alerta-fw;
}

.alerta-azul,
.alert-blue {
    border-left: variables.$alerta-azul-borde;
}

.alerta-roja,
.alert-red {
    border-left: variables.$alerta-roja-borde;
}

.alerta-verde,
.alert-green {
    border-left: variables.$alerta-verde-borde;
}

.alerta-gris,
.alert-grey{
    border-left: variables.$alerta-gris-borde;
}

.alerta-negra,
.alert-black {
    border: none !important;
    border-left: 8px solid rgb(137, 137, 137) !important;
    background-color: rgb(35, 33, 33) !important;
    color: rgb(191, 191, 191);
}

.alerta-blanca,
.alert-white{
    border-left: variables.$alerta-blanca-borde;
}

.alerta-op-rojo,
.alert-op-red,
.alerta-op-verde,
.alert-op-green,
.alerta-op-azul,
.alert-op-blue,
.alerta-op-negro,
.alert-op-black,
.alerta-op-blanco,
.alert-op-white,
.alerta-op-gris,
.alert-op-grey {
    padding: variables.$alerta-op-padding;
    font-size: variables.$alerta-op-fz;
    line-height: variables.$alerta-op-lh;
    font-weight: variables.$alerta-op-fw;
    border-radius: variables.$alerta-op-bor-rad;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
        margin-bottom: 10px;
    }
}

.alerta-op-rojo,
.alert-op-red {
    background-color: variables.$alerta-op-rojo-bg;
    border: variables.$alerta-op-rojo-borde;
    color: variables.$alerta-op-rojo-color;
}

.alerta-op-verde,
.alert-op-green {
    background-color: variables.$alerta-op-verde-bg;
    border: variables.$alerta-op-verde-borde;
    color: variables.$alerta-op-verde-color;
}

.alerta-op-azul,
.alert-op-blue {
    background-color: variables.$alerta-op-azul-bg;
    border: variables.$alerta-op-azul-borde;
    color: variables.$alerta-op-azul-color;
}

.alerta-op-negro,
.alert-op-black {
    background-color: variables.$alerta-op-negro-bg;
    border: variables.$alerta-op-negro-borde;
    color: variables.$alerta-op-negro-color;
}

.alerta-op-gris,
.alert-op-grey {
    background-color: variables.$alerta-op-gris-bg;
    border: variables.$alerta-op-gris-borde;
    color: variables.$alerta-op-gris-color;
}

.alerta-op-blanco,
.alert-op-white {
    background-color: variables.$alerta-op-blanco-bg;
    border: variables.$alerta-op-blanco-borde;
    color: variables.$alerta-op-blanco-color;
}

.alerta-cerrar,
.alert-close {
    position: relative;
    cursor: pointer;
    &::before, 
    &::after {
        content: "";
        position: absolute;
        background-color: black;
        width: 12px;
        height: 3px;
        right: 7px;
        top: 10px;
        transform:  rotate(45deg);
    }

    &::after {
        transform:  rotate(-45deg);
    }
}
  
  
  