@use "globales/funciones";
@use "globales/mixins";
@use "globales/variables";

////
/// @group Botones
/// Estilos y variantes para los botones de la aplicación
////

/// Estilos base para todos los botones
.btn,
.btn-lg,
.btn-sm,
.btn-cubrir,
.btn-cover,
.btn-cubrir-sm,
.btn-cover-sm,
.btn-cubrir-lg,
.btn-cover-lg,
.btn-o,
.btn-lg-o,
.btn-sm-o,
.btn-cubrir-o,
.btn-cubrir-sm-o,
.btn-cubrir-lg-o,
.btn-cover-o,
.btn-cover-sm-o,
.btn-cover-lg-o {
    font-family: 'Inter', -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
    @include mixins.inicializar-botones();
}

/// Ajuste de ancho para elementos button
button.btn,
button.btn-lg,
button.btn-sm,
button.btn-cubrir,
button.btn-cubrir-sm,
button.btn-cubrir-lg,
button.btn-cover,
button.btn-cover-sm,
button.btn-cover-lg,
button.btn-o,
button.btn-lg-o,
button.btn-sm-o,
button.btn-cubrir-o,
button.btn-cubrir-sm-o,
button.btn-cubrir-lg-o,
button.btn-cover-o,
button.btn-cover-sm-o,
button.btn-cover-lg-o {
    width: 100%;
}


/// Ajuste de ancho para elementos input
input.btn,
input.btn-lg,
input.btn-sm,
input.btn-cubrir,
input.btn-cubrir-sm,
input.btn-cubrir-lg,
input.btn-cover,
input.btn-cover-sm,
input.btn-cover-lg,
input.btn-o,
input.btn-lg-o,
input.btn-sm-o,
input.btn-cubrir-o,
input.btn-cubrir-sm-o,
input.btn-cubrir-lg-o,
input.btn-cover-o,
input.btn-cover-sm-o,
input.btn-cover-lg-o {
    width: 100%;
}

/// Configuración de hover y estados para botones sólidos
.btn,
.btn-lg,
.btn-sm,
.btn-cubrir,
.btn-cubrir-sm,
.btn-cubrir-lg,
.btn-cover,
.btn-cover-sm,
.btn-cover-lg {
    @include mixins.configuracion-botones();

    &:focus {
        border: none !important;
    }

    &:hover[class*="fd-rojo"] {
        background-color: rgb(117, 0, 0) !important;
    }

    &:hover[class*="bg-red"] {
        background-color: rgb(117, 0, 0) !important;
    }

    &:hover[class*="fd-verde"] {
        background-color: rgb(0, 112, 88) !important;
    }

    &:hover[class*="bg-green"] {
        background-color: rgb(0, 112, 88) !important;
    }

    &:hover[class*="fd-azul"] {
        background-color: rgb(18, 65, 153) !important;
    }

    &:hover[class*="bg-blue"] {
        background-color: rgb(18, 65, 153) !important;
    }

    &:hover[class*="fd-gris"] {
        background-color: rgb(34, 34, 34) !important;
        color: variables.$fd-blanco;
    }

    &:hover[class*="bg-grey"] {
        background-color: rgb(34, 34, 34) !important;
        color: variables.$fd-blanco;
    }

    &:hover[class*="fd-negro"] {
        background-color: rgb(34, 34, 34) !important;
    }

    &[class*="bg-black"] {
        background-color: rgb(34, 34, 34) !important;
    }

    &[class*="fd-blanco"] {
        color: variables.$fd-negro !important;
    }

    &[class*="bg-white"] {
        color: variables.$fd-negro !important;
    }

    &:hover[class*="fd-blanco"] {
        background-color: rgb(201, 201, 201) !important;
        color: variables.$fd-negro !important;
    }

    &:hover[class*="bg-white"] {
        background-color: rgb(201, 201, 201) !important;
        color: variables.$fd-negro !important;
    }

    &:hover[class*="fd-violeta"] {
        background-color: rgb(35, 0, 80) !important;
    }

    &:hover[class*="bg-violet"] {
        background-color: rgb(35, 0, 80) !important;
    }

    &:hover[class*="fd-amarillo"] {
        background-color: rgb(80, 72, 0) !important;
    }

    &:hover[class*="bg-yellow"] {
        background-color: rgb(80, 72, 0) !important;
    }

    &:hover[class*="fd-naranja"] {
        background-color: rgb(143, 57, 0) !important;
    }

    &:hover[class*="bg-orange"] {
        background-color: rgb(143, 57, 0) !important;
    }

    &:hover[class*="fd-rosa"] {
        background-color: rgb(211, 32, 136) !important;
    }

    &:hover[class*="bg-pink"] {
        background-color: rgb(211, 32, 136) !important;
    }

    &:hover[class*="bg-bodyui"],
    &:hover[class*="fd-bodyui"] {
        background-color: variables.$fd-rosa-o-2 !important;
    }

    @include mixins.btn-colores(variables.$fd-azul-c, variables.$fd-blanco , 1.1em);
}

/// Configuración base para botones outline
.btn-sm-o,
.btn-o,
.btn-lg-o,
.btn-cubrir-o,
.btn-cubrir-lg-o,
.btn-cubrir-sm-o,
.btn-cover-o,
.btn-cover-lg-o,
.btn-cover-sm-o {
    @include mixins.configuracion-botones();
}

.btn:hover,
.btn-lg:hover,
.btn-sm:hover {
    z-index: 10;
}

/// Botón estándar
.btn,
.btn-o {
    @include mixins.estilos-individuales(20px, 25px, 130px, 40px, 130px, 1.2em);
}


/// Botón grande
.btn-lg,
.btn-lg-o {
    @include mixins.estilos-individuales(25px, 40px, 160px, 50px, 150px, 1.2em);
}

/// Botón pequeño
.btn-sm,
.btn-sm-o {
    @include mixins.estilos-individuales(15px, 18px, 110px, 35px, 110px, 0.9em);
}

/// Botón cubrir pequeño
.btn-cubrir-sm,
.btn-cover-sm,
.btn-cubrir-sm-o,
.btn-cover-sm-o {
    @include mixins.btn-cubrir(15px, 18px, 1em, flex, 100%, auto);
}

/// Botón cubrir estándar
.btn-cubrir,
.btn-cover,
.btn-cubrir-o,
.btn-cover-o {
    @include mixins.btn-cubrir(20px, 25px, 1.2em, flex, 100%, auto);
}

/// Botón cubrir grande
.btn-cubrir-lg,
.btn-cover-lg,
.btn-cubrir-lg-o,
.btn-cover-lg-o {
    @include mixins.btn-cubrir(35px, 40px, 1.4em, flex, 100%, auto);
}


//Botones fondo rojo
/// Botón outline rojo
.btn-rojo-o,
.btn-red-o {
    @include mixins.btn-colores-outline(1px, solid, variables.$btn-rojo, variables.$btn-rojo, 1em);
}

.btn-rojo-o:hover,
.btn-red-o:hover {
    background-color: variables.$btn-rojo-hover !important;
    color: variables.$fd-blanco !important;
    box-shadow: 0 0 2px 4px variables.$btn-rojo-sombra !important;
}

/// Botón outline BodyUI (rosa)
.btn-bodyui-o {
    @include mixins.btn-colores-outline(1px, solid, variables.$fd-rosa-o-1, variables.$btn-rojo, 1em);
}

.btn-bodyui-o:hover {
    background-color: variables.$fd-rosa-o-1 !important;
    color: variables.$fd-blanco !important;
    box-shadow: 0 0 2px 4px variables.$fd-rosa-t !important;
}


// Botones fondo verde
/// Botón outline verde
.btn-verde-o,
.btn-green-o {
    @include mixins.btn-colores-outline(1px, solid, variables.$btn-verde, variables.$btn-verde, 1em);
}

.btn-verde-o:hover,
.btn-green-o:hover {
    background-color: variables.$btn-verde-hover !important;
    color: variables.$fd-blanco !important;
    box-shadow: 0 0 2px 4px variables.$btn-verde-sombra !important;
}

// botones fondo azul
/// Botón outline azul
.btn-azul-o,
.btn-blue-o {
    @include mixins.btn-colores-outline(1px, solid, variables.$btn-azul, variables.$btn-azul, 1em);
}

.btn-azul-o:hover,
.btn-blue-o:hover {
    background-color: variables.$btn-azul-hover !important;
    color: variables.$fd-blanco !important;
    box-shadow: 0 0 2px 4px variables.$btn-azul-sombra !important;
}

// Botones grises
/// Botón outline gris
.btn-gris-o,
.btn-grey-o {
    @include mixins.btn-colores-outline(1px, solid, #212121, #212121, 1em);
}

.btn-gris-o:hover,
.btn-grey-o:hover {
    background-color: variables.$btn-gris-hover !important;
    color: variables.$fd-blanco !important;
    box-shadow: 0 0 2px 4px variables.$btn-gris-sombra !important;
}

/// Botón outline negro
.btn-negro-o,
.btn-black-o {
    @include mixins.btn-colores-outline(1px, solid, black, black, 1em);
}

.btn-negro-o:hover,
.btn-black-o:hover {
    background-color: rgb(34, 34, 34) !important;
    color: variables.$fd-blanco !important;
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.5) !important;
}

// Botones blancos
/// Botón outline blanco
.btn-blanco-o,
.btn-white-o {
    @include mixins.btn-colores-outline(1px, solid, white, white, 1em);
}

.btn-blanco-o:hover,
.btn-white-o:hover {
    background-color: variables.$fd-blanco !important;
    color: variables.$fd-negro !important;
    box-shadow: 0 0 2px 4px rgba(238, 238, 238, 0.5) !important;
}


/// Botón outline gris claro
.btn-gris-c-o,
.btn-grey-c-o {
    @include mixins.btn-colores-outline(1px, solid, 1px solid rgb(63, 63, 63), rgb(89, 100, 110), 1em);
}

.btn-gris-c-o:hover,
.btn-grey-c-o:hover {
    background-color: rgb(230, 237, 238) !important;
    color: variables.$fd-negro !important;
    box-shadow: 0 0 5px 3px rgba(206, 210, 212, 0.856) !important;
}


/// Botón complemento (fijo)
.btn-complemento {
    @include mixins.posicionamiento-fixed(0, 0, 0, 0);
    z-index: funciones.superposicion(co);
}


/// Estilos para botones desactivados
.btn.desactivado,
.btn-sm.desactivado,
.btn-lg.desactivado,
.btn-cubrir.desactivado,
.btn-cubrir-sm.desactivado,
.btn-cubrir-lg.desactivado,
.btn-cover-lg.desactivado,
.btn-cover.desactivado,
.btn-cover-sm.desactivado,
.btn:disabled,
.btn-sm:disabled,
.btn-lg:disabled,
.btn-cubrir:disabled,
.btn-cubrir-sm:disabled,
.btn-cubrir-lg:disabled,
.btn-cover:disabled,
.btn-cover-sm:disabled,
.btn-cover-lg:disabled .btn[disabled],
.btn-sm[disabled],
.btn-lg[disabled],
.btn-cubrir[disabled],
.btn-cubrir-sm[disabled],
.btn-cubrir-lg[disabled],
.btn-cover[disabled],
.btn-cover-sm[disabled],
.btn-cover-lg[disabled] {
    background-color: variables.$fd-gris-c !important;
    color: variables.$fd-gris !important;
    box-shadow: none !important;

    &:hover {
        background-color: variables.$fd-gris-c !important;
        color: variables.$fd-gris !important;
        box-shadow: none !important;
        cursor: default !important;
    }
}

/// Estilos para botones outline desactivados
.btn-o.desactivado,
.btn-o-sm.desactivado,
.btn-o-lg.desactivado,
.btn-o:disabled,
.btn-o-sm:disabled,
.btn-o-lg:disabled {
    border: 1px solid rgb(170, 170, 170) !important;
    color: rgb(170, 170, 170) !important;


    &:hover {
        background-color: transparent !important;
        box-shadow: none !important;
        cursor: default !important;
    }
}


/// Grupo de botones
.btn-grupo,
.btn-group,
.btn-grupo-lg,
.btn-group-lg,
.btn-grupo-sm,
.btn-group-sm {

    @include mixins.flex-box-centrado();



    .btn,
    .btn-sm,
    .btn-lg {
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
        padding: 6px 10px;
        max-width: 150px;
        max-height: 30px;
        min-height: 30px;
        font-size: 12px;
    }

    .fd-gris {
        background-color: #3b3b3b;
        color: white;

        &:hover {
            background-color: #111111;
        }
    }

    & .btn:first-child,
    & .btn-sm:first-child,
    & .btn-lg:first-child {
        border-radius: 5px 0 0 5px;

    }

    & .btn:last-child,
    & .btn-sm:last-child,
    & .btn-lg:last-child {
        border-radius: 0 5px 5px 0;
        border-right: none
    }
}




/// Grupo de botones grande
.btn-grupo-lg,
.btn-group-lg {

    .btn,
    .btn-sm,
    .btn-lg {
        padding: 8px 12px !important;
        max-width: 160px;
        max-height: 40px !important;
        min-height: 40px !important;
        font-size: 15px !important;
    }
}


/// Grupo de botones pequeño
.btn-grupo-sm,
.btn-group-sm {

    .btn,
    .btn-sm,
    .btn-lg {
        padding: 4px 7px !important;
        max-width: 140px;
        max-height: 25px !important;
        min-height: 25px !important;
        font-size: 10px !important;
    }
}