@use "globales/mixins";
@use "globales/variables";

////
/// @group Cards
/// Componentes de tarjetas para mostrar contenido
////

/// Estilos base para tarjetas
.card {

    * {

        font-family: 'Inter', 'Inter', -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
    }

    font-size: 16px !important; // 1EM

    // Bordes para todas las cards
    $borde_claro: 2px solid rgb(98, 100, 119);
    $borde_oscuro: 2px solid rgba(60, 59, 65, 0.685);
    $borde_redondeado: 10px;

    // Medidas variables de las cards
    $ancho_maximo: 415px;
    $ancho_minimo: 280px;

    // Colores de fondo
    $bg_dark: rgb(29, 29, 29);
    $bg_light: rgb(248, 248, 248);

    // Colores de texto tarjetas oscuras
    $color_dark_cabeceras_h: rgb(205, 205, 205);
    $color_dark_cabeceras_p: rgb(186, 186, 186);
    $color_dark_cabeceras_sm: rgb(160, 160, 160);

    // Colores de texto tarjetas claras
    $color_light_cabeceras_h: rgb(20, 20, 20);
    $color_light_cabeceras_p: rgb(40, 40, 40);
    $color_light_cabeceras_sm: rgb(156, 156, 156);


    // Padding 
    $padding: 15px;

    /// Clase para imágenes que cubren la tarjeta
    .card-cover {
        max-width: 100% !important;
        min-width: 100% !important;
    }

    /// Tarjeta simple (oscura y clara)
    .card-simple-dark,
    .card-simple-light {
        padding: $padding !important;
        border-radius: $borde_redondeado !important;

        max-width: 385px;
        min-width: 295px;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 22px !important;
            font-weight: 500 !important;
            margin: 0 !important;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            margin-top: 10px !important;
        }

        small {
            font-size: 0.8em !important;
            line-height: 90% !important;
        }
    }

    .card-simple-dark {
        background-color: $bg_dark !important;
        border: $borde_claro !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_dark_cabeceras_h;
        }

        p,
        span {
            color: $color_dark_cabeceras_p;
        }

        small {
            color: $color_dark_cabeceras_sm;
        }
    }

    .card-simple-light {
        background-color: $bg_light !important;
        border: $borde_oscuro !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_light_cabeceras_h;
        }

        p,
        span {
            color: $color_light_cabeceras_p;
        }

        small {
            color: $color_light_cabeceras_sm;
        }
    }

    /// Tarjeta con icono (oscura y clara)
    .card-icon-dark,
    .card-icon-light {
        padding: $padding !important;
        border-radius: $borde_redondeado !important;

        max-width: 320px;
        min-width: 295px;

        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .image-container {
            height: 70px !important;
            width: 70px !important;

            img {
                max-width: 100%;
                max-height: 100%;
                min-width: 100%;
                min-height: 100%;
            }
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 22px !important;
            font-weight: 500 !important;
            text-wrap: none;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            margin-top: 10px !important;
        }

        small {
            font-size: 0.8em !important;
            line-height: 90% !important;
        }
    }

    .card-icon-dark {
        background-color: $bg_dark !important;
        border: $borde_claro !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_dark_cabeceras_h;
        }

        p,
        span {
            color: $color_dark_cabeceras_p;
        }

        small {
            color: $color_dark_cabeceras_sm;
        }
    }

    .card-icon-light {
        background-color: $bg_light !important;
        border: $borde_oscuro !important;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_light_cabeceras_h;
        }

        p,
        span {
            color: $color_light_cabeceras_p;
        }

        small {
            color: $color_light_cabeceras_sm;
        }
    }


    /// Tarjeta de perfil (oscura y clara)
    .card-perfil-dark,
    .card-perfil-light {
        padding: $padding !important;
        border-radius: $borde_redondeado !important;
        min-height: 200px;
        max-width: 320px;
        min-width: 320px;
        position: relative;

        .image-container {
            position: absolute;

            left: 90px;
            top: -70px;
            max-width: 140px !important;
            min-width: 140px !important;
            max-height: 140px !important;
            min-height: 140px !important;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 4px solid rgb(98, 100, 119);
            display: flex;
            justify-content: center;

            img {
                width: 132px !important;
                height: 132px !important;
                border-radius: 50%;
            }
        }


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 22px !important;
            font-weight: 500 !important;
            text-wrap: none;
            text-align: center;
            margin-top: 60px !important;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            text-align: center !important;
        }

        small {
            font-size: 0.8em !important;
            line-height: 90% !important;
        }
    }

    .card-perfil-dark {

        background-color: $bg_dark !important;
        border: $borde_claro !important;


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_dark_cabeceras_h;
        }

        .divisor {
            border: 0.2px solid rgb(15, 15, 15);
            margin-top: 15px;
            margin-bottom: 15px;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            color: $color_dark_cabeceras_p;
        }

        small {
            color: $color_dark_cabeceras_sm;
        }
    }

    .card-perfil-light {

        background-color: $bg_light !important;
        border: $borde_oscuro !important;


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_light_cabeceras_h;
        }

        .divisor {
            border: 0.2px solid rgb(233, 233, 233);
            margin-top: 15px;
            margin-bottom: 15px;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            color: $color_light_cabeceras_p;
        }

        small {
            color: $color_light_cabeceras_sm;
        }
    }


    /// Tarjeta con descripción (oscura y clara)
    .card-description-dark,
    .card-description-light {
        padding: $padding !important;
        border-radius: $borde_redondeado !important;

        max-width: 40%;
        min-width: 295px;


        .content {
            margin-top: 10px !important;
            height: 150px !important;
        }

        .image-container {
            border-radius: $borde_redondeado;
            width: 100% !important;
            overflow: hidden !important;
            background-color: white;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                max-width: 100% !important;
                min-width: 100% !important;
                border-radius: $borde_redondeado;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 22px !important;
            font-weight: 500 !important;
            margin: 0 !important;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            margin-top: 10px !important;
        }

        small {
            font-size: 0.8em !important;
            line-height: 90% !important;
        }
    }

    .card-description-dark {
        background-color: $bg_dark !important;
        border: $borde_claro !important;


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_dark_cabeceras_h;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            color: $color_dark_cabeceras_p;
        }

        small {
            color: $color_dark_cabeceras_sm;
        }
    }

    .card-description-light {
        background-color: $bg_light !important;
        border: $borde_oscuro !important;


        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $color_light_cabeceras_h;
        }

        p {
            font-size: 1em !important;
            line-height: 120% !important;
            color: $color_light_cabeceras_p;
        }

        small {
            color: $color_light_cabeceras_sm;
        }
    }
}

.card-notification-light,
.card-notification-dark {
    padding: 1em !important;
    border-radius: 5px !important;
    max-width: 300px;
    min-width: 250px;

    .title {
        font-size: 16px !important;
        margin-bottom: 8px !important;
    }

    .content 
    {
        font-size: 13px !important;
    
    }

    .card-logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.card-notification-light {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1),
                        inset 0px 0px 1px 1px rgba(189, 189, 189, 0.1);
    transition: 0.3s;
    max-width: 300px;
    background-color: variables.$fd-gris-c ;
    
    .content {
        color: variables.$fd-gris;
    }
}


.card-notification-dark {
    box-shadow: 0 4px 8px 0 rgba(84, 84, 84, 0.134),
                inset 0px 0px 1px 1px rgba(255, 255, 255, 0.095);
    transition: 0.3s;
    max-width: 300px;

    background-color: variables.$fd-gris-az;
    
    .title{
        color: variables.$fd-blanco;
    }
    .content {
        color: variables.$fd-blanco;
    }
}

.card-notification-light:hover {
     box-shadow: 0 0px 16px 0 rgba(0, 0, 0, 0.2),
                inset 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.card-notification-dark:hover {
            box-shadow: 0 0px 16px 0 rgba(255, 255, 255, 0.137),
            inset 0px 0px 1px 2px rgba(255, 255, 255, 0.108);;
 }   