@use "globales/mixim";
@use "globales/variables";


.lista-contenedor,
.list-container {

    display: flex;
    flex-direction: column;
    font-size: 16px !important;
    min-width: 260px;


    box-sizing: content-box !important;

    border-radius: 5px;
    border-top: rgba(0, 0, 0, 0.055);
    border-bottom: rgba(0, 0, 0, 0.055);

  
    .lista-cabecera,
    .list-header,
    .lista-pie,
    .list-footer
     {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.062);
        padding: 7px;
        font-size: 0.9em;
        border-radius: variables.$borde-radio-cabecera;
        overflow: hidden;
        border: 1px solid rgba(0, 0, 0, 0.055) !important;

    }
    
    .lista-pie,
    .list-footer{
        border-radius: variables.$borde-radio-pie;
        border-top:none !important;
    }

    
    * {
        list-style: none;
    }

    a {
        cursor:  pointer !important;
    }
   
   
    .lista-item,
    .list-item {
        padding: 7px 10px;
        font-size: 1.1em;
        border-bottom: variables.$borde;
        border-left: variables.$borde;
        border-right: variables.$borde;
        display: flex;
        justify-content: space-between;
        position: relative;
        cursor: pointer;
        &.desactivado *{
            color: rgb(175, 175, 175) !important;

            &:hover{
                color: rgb(175, 175, 175) !important;
            }
        }

        a {
            display: block;
            font-size: 15px;
            color: black
        }

        .f-der,
        .f-aba{
            position: absolute !important;
            top: calc(50% - 5px) !important;
            left: calc(100% - 20px);
        }
    }

    & .lista-item:first-child,
    & .list-item:first-child  {
        border-top: variables.$borde;
    }


    .lista-item-img {
        display: flex;
        align-items: center;
        border-bottom: variables.$borde;
        border-left: variables.$borde;
        border-right: variables.$borde;
        padding: 10px;
        .img-cont {
            overflow: hidden;
            @include mixim.ancho-alto(30px, 30px);
            border-radius: 50%;
            img {
                max-width: 100%;
            }
        }

        *:not(.img-cont) {
            padding-left: 5px;
        }

        * {
            display: block;
            font-size: 18px;
            color: black
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.048) !important
        }
    }

    & .lista-item-img:first-child {
        border-top: variables.$borde;
    }

    
    .desplegable {
        background-color: rgba(0, 0, 0, 0.096);
        font-size: 15px !important;
   
        p {
            padding: 5px !important;
            line-height: 22px !important;
            margin: 0 !important;
        }

        ul 
        {
            list-style: none;
            display: flex;
            flex-direction: column;
            
            a {
                display: block !important;
                width: 100% !important;
                padding: 10px 10px;
                
                &:hover {
                    background-color: rgba(0, 0, 0, 0.096);
                }
            }
        }
    }
}


.lista-usuario {
    display: flex;
    flex-direction: column;

    .lista-item {
        padding: 5px 20px;
        border-bottom: variables.$borde; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        .contenido {
            display: flex;
            align-items: center;

            .img-cont {
                
                @include mixim.ancho-alto(60px, 60px);
                border-radius: 50% !important;
                overflow: hidden !important;
                img {
                    width: 60px !important;
                    height: 60px !important;
                    border-radius: 50% !important;
                }
            }
    
            *:not(.img-cont) {
                font-size: 20px;
                color: rgb(15, 15, 15);
                padding-left: 10px;
                font-weight: 500;

                &:hover {
                    color: variables.$fd-verde;
                }
            }
        }
    }
}