@use "sass:map";
@use "globales/funciones";
@use "globales/variables";

////
/// @group Base
/// Estilos generales, reset y tipografía
////

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap');

/// Reset global
* {
    padding: 0;
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    font-family: variables.$font-family;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: 16px; // 1EM
}



h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6,
p,.p,
a,
span {

    font-family: variables.$font-family;
}
/// Encabezados (H1 - H6)
h1,
.h1 {
    font-size: funciones.tamLetra(variables.$letras, "h1");
    font-weight: funciones.get-grosor(variables.$grosor, "700");
}

h2,
.h2 {
    font-size: funciones.tamLetra(variables.$letras, "h2");
    font-weight: funciones.get-grosor(variables.$grosor, "700");
}

h3,
.h3 {
    font-size: funciones.tamLetra(variables.$letras, "h3");
    font-weight: funciones.get-grosor(variables.$grosor, "600");
}


h4,
.h4 {
    font-size: funciones.tamLetra(variables.$letras, "h4");
    font-weight: funciones.get-grosor(variables.$grosor, "600");
}


h5,
.h5 {
    font-size: map.get(variables.$letras, 'h5');
    font-weight: funciones.get-grosor(variables.$grosor, "500");
}


h6,
.h6 {
    font-size: map.get(variables.$letras, "h6");
    font-weight: funciones.get-grosor(variables.$grosor, "500");
}

/// Enlaces base
a {
    font-size: map.get(variables.$letras, "a");
    text-decoration: none;
}

a:not[href] {
    color: rgb(156, 156, 156) !important;
    cursor: none !important;
    border: none !important;
}

/// Párrafos
p,
.p {
    font-weight: 400;
    line-height: 155%;
}

span {
    font-size: map.get(variables.$letras, "span");
}


/// Enlaces estilizados (.link)
a.link {
    color: rgb(0, 102, 185);
    border-bottom: 1.45px solid rgb(0, 102, 185);
    line-height: 25px;

    &.desactivado {
        color: rgb(197, 197, 197) !important;
        border-bottom: 1.45px solid rgb(197, 197, 197) !important;
    }

    &:hover {
        color: rgb(16, 148, 255);
        border-bottom: 1.45px solid rgb(16, 148, 255);
    }
}