@use "globales/funciones";
@use "globales/mixim";

.img-exp {
    cursor: zoom-in;
}

.contenedor-imagen {
    @include mixim.posicionamiento-fixed(0,0,0,0);
    @include mixim.flex-box-centrado();
    @include mixim.ancho-alto(100%, 100%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.925);
    z-index:  funciones.superposicion(ms);
    padding: 0 30px;
    img {
        transform: scale(0.7);
    }
}

.img-red-bor {
    border-radius: 5px !important;
}

$radio: 20;
@for $i from 1 through 100 {
    .img-redonda-#{$radio},
    .circle-image-#{$radio} {
        height: #{$radio}px;
        width: #{$radio}px;
        border-radius: 50%;
    }
    $radio: $radio +  5;
}

.img-display-enc {
    padding: 5px !important;
    border: 1px solid rgba(0, 0, 0, 0.158);
}

$display: 8;
@for $i from 1 through 100 {
    .img-display-#{$display} {
        height: #{$display}px;
        width: #{$display}px;
    }
    $display: $display +  8;
}

.img-responsive {
    max-width: 100% !important;
}