@use "globales/variables";

////
/// @group Inputs
/// Estilos para selectores personalizados
////

/// Select personalizado oscuro
.select-mod-dark {

    width: 100%;
    border: 1px solid rgb(11, 11, 11); // 
    background-color: variables.$fd-gris-az; //
    min-height: 40px;
    border-radius: 3px;
    display: flex !important;
    align-items: center !important;
    padding-left: 15px;
    cursor: pointer;
    position: relative;

    //Flecha
    &::before {
        content: "";
        position: absolute;
        border-top: 5px solid rgb(255, 255, 255); //
        border-left: 5px solid transparent; //
        border-right: 5px solid transparent; //
        top: calc(50% - 2.5px);
        right: 10px;
    }

    select {
        display: none;
    }

    .select {
        background-color: variables.$fd-gris-az; //
    }

    &:focus {
        border: 1px solid rgb(44, 44, 44) !important; //
    }

    .seleccionado {
        font-size: 16px;
        height: 100%;
        color: white !important;
        display: flex !important;
        align-items: center !important;
    }

    .inactivo {
        color: variables.$fd-gris !important;
    }


    .lista,
    .lista-borde {
        display: none;
        position: absolute;
        width: 100%;
        border-radius: 3px;
        background-color: variables.$fd-gris-az !important; //
        top: calc(100% + 5px);
        left: 0;
        border: 1px solid rgb(80, 80, 80); //


        z-index: 10000000000;

        ul {
            list-style: none;

            li {
                option {
                    display: block;
                    width: 100%;
                    padding: 7px 20px;
                    color: white !important;
                }
            }

            .hover {
                //

                &:hover {
                    //
                    background-color: #ccc; //
                    color: rgb(227, 227, 227); //
                }

                //
            }

            //
        }
    }
}

/// Select personalizado claro
.select-mod-white {
    width: 100%;
    border: 1px solid rgb(207, 207, 207); // 
    background-color: white; //
    min-height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    cursor: pointer;
    position: relative;

    //Flecha
    &::before {
        content: "";
        position: absolute;
        border-top: 5px solid black; //
        border-left: 5px solid transparent; //
        border-right: 5px solid transparent; //
        top: calc(50% - 2.5px);
        right: 10px;
    }

    select {
        display: none;
    }

    .select {
        background-color: white; //
    }

    &:focus {
        border: 1px solid rgb(0, 247, 255); //
    }

    .seleccionado {
        font-size: 18px;
        height: 100%;
        display: flex !important;
    }

    .inactivo {
        color: variables.$fd-gris !important;
    }


    .lista,
    .lista-borde {
        display: none;
        position: absolute;
        width: 100%;
        border-radius: 3px;
        background-color: white; //
        top: calc(100% + 5px);
        left: 0;
        border: 1px solid rgb(207, 207, 207); //

        z-index: 10000000000;

        ul {
            list-style: none;

            li {
                option {
                    display: block;
                    width: 100%;
                    padding: 7px 20px;
                }
            }

            .hover {
                //

                &:hover {
                    //
                    background-color: variables.$fd-azul-c; //
                    color: white; //
                }

                //
            }

            //
        }
    }
}