
.bs-sidebar-drop
{
    overflow-y: auto !important;
    z-index: 9999;
    *{
         font-family: 'Roboto', -apple-system, 
                    BlinkMacSystemFont, 
                    "Segoe UI", 
                    "Helvetica Neue", 
                    Arial, 
                    "Noto Sans", 
                    sans-serif, 
                    "Apple Color Emoji", 
                    "Segoe UI Emoji", 
                    "Segoe UI Symbol", 
                    "Noto Color Emoji";
    }
    position: fixed !important;
    left: 0; // 540 px ancho
    bottom: 0;
    top: 0;
    width: 240px;
    padding-top: 75px;

    background-color: black; // Defecto

    .bs-sidebar-title 
    {
        position: relative;
        padding: 8px 5px 7px 15px  !important;
        cursor: pointer;   
        label
        {
            cursor: pointer;   
            color: white;
            font-size: 20px;
            font-weight: 700;
        }

        .bs-arrow-right{
            height: 5px !important;
            border-left: 5px solid white;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            position: absolute;
            top: calc(50% - 2.5px);
            right: 15px;
        }
    }

    .bs-sidebar-drop-list {
        ul {
            list-style: none;
            li {
                a {
                    display: block;
                    padding: 5px 0 5px 35px;
                    color: #bbbbbb;
                    font-size: 17px;

                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}

