////
/// @group Sidebar
/// Componentes para barras laterales desplegables
////

$font-family: 'Inter', -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";

/** SIDEBAR LIGHT */
$bg-light: #eeeeee;
$border-right-light: 1px solid rgb(123, 123, 123);
$color-title-light: #1d1d1d;
$border-arrow-right-light: 5px solid black;
$border-arrow-bottom-light: 5px solid black;
$a-color-light: #444444;
$a-color-hover-light: #000;
$fw: 500;



/** SIDEBAR DARK */
$bg-dark: #222130;
$border-right-dark: 1px solid #373737;
$color-title-dark: #f3f3f3;
$border-arrow-right-dark: 5px solid #fff;
$border-arrow-bottom-dark: 5px solid #fff;
$a-color-dark: #bdbdbd;
$a-color-hover-dark: #fff;


/// Estilos base para sidebar desplegable (claro y oscuro)
.bs-sidebar-drop-light,
.bs-sidebar-drop-dark {
    overflow-y: auto !important;
    z-index: 9999;
    user-select: none;

    * {
        font-family: $font-family
    }

    position: fixed !important;
    left: -260px;
    bottom: 0;
    top: 0;
    width: 240px;
    padding-top: 80px;

    background-color: black; // Defecto

    transition: left .3s ease;
    -o-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -webkit-transition: left .3s ease;

    .bs-sidebar-drop-list {
        display: none;

        ul {
            list-style: none;

            li {
                a {
                    display: block;
                    padding: 7px 0 7px 35px;
                    color: #bbbbbb;
                    font-size: 17px;

                    &:hover {
                        color: white;
                    }

                }
            }
        }
    }

    .bs-sidebar-title {
        position: relative;
        padding: 8px 5px 7px 15px !important;
        cursor: pointer;

        label {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: white;
            font-size: 18px;

            i {
                margin-bottom: 4px;
            }

        }

        .arrow-right {
            height: 5px !important;
            border-left: 5px solid white;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            position: absolute;
            top: calc(50% - 2.5px);
            right: 15px;
        }

        .arrow-bottom {
            height: 5px !important;
            border-top: 5px solid white;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            top: calc(50% - 2.5px);
            right: 15px;
        }
    }
}

/// Sidebar desplegable tema claro
.bs-sidebar-drop-light {
    .bs-sidebar-title {
        position: relative;
        padding: 8px 5px 7px 15px !important;
        cursor: pointer;

        label {
            cursor: pointer;
            color: $color-title-light;
            font-weight: $fw;
        }

        .arrow-right {
            border-left: $border-arrow-bottom-light
        }

        .arrow-bottom {
            border-top: $border-arrow-bottom-light;
        }
    }

    .bs-sidebar-drop-list {
        display: none;

        ul {
            li {
                a {
                    color: $a-color-light;

                    &:hover {
                        color: $a-color-hover-light;
                    }
                }
            }
        }
    }

    border-right: $border-right-light;
    background-color: $bg-light; // Defecto
}

/// Sidebar desplegable tema oscuro
.bs-sidebar-drop-dark {
    .bs-sidebar-title {
        position: relative;
        padding: 8px 5px 7px 15px !important;
        cursor: pointer;

        label {
            cursor: pointer;
            color: $color-title-dark;
            font-weight: $fw;
        }

        .arrow-right {
            height: 5px !important;
            border-left: $border-arrow-right-dark;
        }

        .arrow-bottom {
            border-top: $border-arrow-bottom-dark;
        }
    }

    .bs-sidebar-drop-list {
        ul {
            li {
                a {
                    color: $a-color-dark;

                    &:hover {
                        color: $a-color-hover-dark;
                    }
                }
            }
        }
    }

    background-color: $bg-dark; // Defecto
    border-right: 2px solid #373737;
}