////
/// @group Sidebar
/// Estilos para la barra lateral fija
////

/// Sidebar fijo
.bs-nav-sidebar {
    display: none;
    z-index: 9999;
    width: 240px !important;

    position: fixed;
    top: 60px;
    left: -240;
    bottom: 0;
    background-color: rgb(42, 34, 34);
    user-select: none;

    transition: left .3s ease;
    -o-transition: left .3s ease;
    -moz-transition: left .3s ease;
    -webkit-transition: left .3s ease;

    * {
        font-family: 'Roboto', -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            "Helvetica Neue",
            Arial,
            "Noto Sans",
            sans-serif,
            "Apple Color Emoji",
            "Segoe UI Emoji",
            "Segoe UI Symbol",
            "Noto Color Emoji";
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
            &:nth-child(1) {
                margin-top: 10px;
            }

            a {
                list-style: none;
                color: rgb(200, 200, 200);
                display: block;
                padding: 10px 10px;
                font-size: 1.1em;
                border-bottom: 0.5px solid #0000005b;

                &:hover {
                    color: rgb(255, 255, 255);
                }
            }
        }
    }
}