////
/// @group Utilitarios
/// Punto de entrada para utilitarios
////

@use "globales";
@use "utilitarios/screenUtilitarios";
@use "utilitarios/bordes";
@use "utilitarios/medidas";
@use "utilitarios/opacidad";
@use "utilitarios/divisores";
@use "utilitarios/textoAli";
@use "utilitarios/textoColor";
@use "utilitarios/textoTipo";
@use "utilitarios/textoTam";
@use "utilitarios/overflow";
@use "alineamiento/margin-padding";