////
/// @group Utilitarios Visuales
/// Utilidades de opacidad
////

/// Opacidad 0 (Invisible)
.opa-0 {
    opacity: 0 !important;
}

/// Opacidad 0.1
.opa-1 {
    opacity: 0.1 !important;
}

/// Opacidad 0.2
.opa-2 {
    opacity: 0.2 !important;
}

/// Opacidad 0.3
.opa-3 {
    opacity: 0.3 !important;
}

/// Opacidad 0.4
.opa-4 {
    opacity: 0.4 !important;
}

/// Opacidad 0.5
.opa-5 {
    opacity: 0.5 !important;
}


/// Opacidad 0.6
.opa-6 {
    opacity: 0.6 !important;
}

/// Opacidad 0.7
.opa-7 {
    opacity: 0.7 !important;
}

/// Opacidad 0.8
.opa-8 {
    opacity: 0.8 !important;
}

/// Opacidad 0.9
.opa-9 {
    opacity: 0.9 !important;
}


/// Opacidad 1 (Visible)
.opa-10 {
    opacity: 1 !important;
}