////
/// @group Utilitarios Visuales
/// Utilidades de desbordamiento (overflow)
////

/// Ocultar desbordamiento
.ov-hidden {
    overflow: hidden !important;
}

/// Mostrar desbordamiento
.ov-visible {
    overflow: visible !important;
}

/// Scroll en desbordamiento
.ov-scroll {
    overflow: scroll !important;
}

.ov-auto {
    overflow: auto !important;
}