@use "../globales/mixim";

.ocultar-solo-grandes,
.hide-only-large {
    @include mixim.agregar-a-medida-minima(m){
        display: none !important;
    }
}


.ocultar-desde-medianos,
.hide-from-medium {
    @include mixim.agregar-a-medida-maxima(m){
        display: none !important;
    }
}

.ocultar-desde-chicos,
.hide-from-small {
    @include mixim.agregar-a-medida-maxima(s){
        display: none !important;
    }
}

.ocultar-desde-x-chicos,
.hide-from-x-small {
    @include mixim.agregar-a-medida-maxima(xs){
        display: none !important;
    }
}


.mostrar-solo-x-chicos,
.show-only-x-small {
    @include mixim.agregar-a-medida-minima(xs){
        display: none !important;
    }
}

.mostrar-solo-chicos,
.show-only-small {
    @include mixim.agregar-a-medida-minima(s){
        display: none !important;
    }

    @include mixim.agregar-a-medida-maxima(xs){
        display: none !important;
    }
}


.mostrar-solo-medianos,
.show-only-medium {
    @include mixim.agregar-a-medida-minima(m){
        display: none !important;
    }

    @include mixim.agregar-a-medida-maxima(s){
        display: none !important;
    }
}

.mostrar-solo-grandes,
.show-only-large {
    @include mixim.agregar-a-medida-maxima(m){
        display: none !important;
    }
}
