@use "../globales/mixins";

////
/// @group Layout
/// Utilidades de visibilidad por tamaño de pantalla
////

/// Ocultar solo en pantallas grandes
.ocultar-solo-grandes,
.hide-only-large {
    @include mixins.agregar-a-medida-minima(m) {
        display: none !important;
    }
}

/// Ocultar desde pantallas medianas hacia abajo
.ocultar-desde-medianos,
.hide-from-medium {
    @include mixins.agregar-a-medida-maxima(m) {
        display: none !important;
    }
}

/// Ocultar desde pantallas chicas hacia abajo
.ocultar-desde-chicos,
.hide-from-small {
    @include mixins.agregar-a-medida-maxima(s) {
        display: none !important;
    }
}

/// Ocultar desde pantallas extra chicas hacia abajo
.ocultar-desde-x-chicos,
.hide-from-x-small {
    @include mixins.agregar-a-medida-maxima(xs) {
        display: none !important;
    }
}

/// Mostrar solo en pantallas extra chicas
.mostrar-solo-x-chicos,
.show-only-x-small {
    @include mixins.agregar-a-medida-minima(xs) {
        display: none !important;
    }
}

/// Mostrar solo en pantallas chicas
.mostrar-solo-chicos,
.show-only-small {
    @include mixins.agregar-a-medida-minima(s) {
        display: none !important;
    }

    @include mixins.agregar-a-medida-maxima(xs) {
        display: none !important;
    }
}

/// Mostrar solo en pantallas medianas
.mostrar-solo-medianos,
.show-only-medium {
    @include mixins.agregar-a-medida-minima(m) {
        display: none !important;
    }

    @include mixins.agregar-a-medida-maxima(s) {
        display: none !important;
    }
}

/// Mostrar solo en pantallas grandes
.mostrar-solo-grandes,
.show-only-large {
    @include mixins.agregar-a-medida-maxima(m) {
        display: none !important;
    }
}