.f-grosor-1,
.f-w-1{
    font-weight: 100 !important;
}

.f-grosor-2,
.f-w-2{
    font-weight: 200 !important;
}

.f-grosor-3,
.f-w-3{
    font-weight: 300 !important;
}

.f-grosor-4,
.f-w-4 {
    font-weight: 400 !important;
}

.f-grosor-5,
.f-w-5 {
    font-weight: 500 !important;
}

.f-grosor-6,
.f-w-6{
    font-weight: 600 !important;
}
.f-grosor-7,
.f-w-7{
    font-weight: 700 !important;
}
.f-grosor-8,
.f-w-8{
    font-weight: 800 !important;
}

.f-grosor-9,
.f-w-9{
    font-weight: 900 !important;
}
.f-grosor-b,
.f-w-b{
    font-weight: bold !important;
}

.t-may,
.t-up {
    text-transform: uppercase !important;
}

.t-min,
.t-lw {
    text-transform: lowercase !important;
}

.t-cap {
    text-transform: capitalize !important;
}
