////
/// @group Utilitarios de Texto
/// Alineaci贸n de texto
////

/// Alineaci贸n centrada
.a-c,
.ta-c {
    text-align: center !important;
}

/// Alineaci贸n derecha
.a-d,
.ta-r {
    text-align: right !important;
}

/// Alineaci贸n izquierda
.a-i,
.ta-l {
    text-align: left !important;
}