@use "../globales/variables";

////
/// @group Utilitarios de Texto
/// Colores de texto
////

/// Color Rojo
.c-rojo,
.c-red {
    color: variables.$fd-rojo !important;
}

.c-rojo-c,
.c-red-s {
    color: variables.$fd-rojo-c !important;
    ;
}

.c-rojo-o,
.c-red-d {
    color: variables.$fd-rojo-o-1 !important;
    ;
}

.c-rojo-t {
    color: variables.$fd-rojo-t !important;
    ;
}

.c-rojo-an {
    color: variables.$fd-rojo-an !important;
}

.c-rojo-ro {
    color: variables.$fd-rojo-ro !important;
}

/// Color Azul
.c-azul,
.c-blue {
    color: variables.$fd-azul !important;
}

.c-azul-c,
.c-blue-s {
    color: variables.$fd-azul-c !important;
}

.c-azul-o,
.c-blue-d {
    color: variables.$fd-azul-o-2 !important;
}

.c-azul-ve {
    color: variables.$fd-azul-ve !important;
}

.c-azul-ve-s {
    color: variables.$fd-azul-ve-s !important;
}

.c-azul-ve-c {
    color: variables.$fd-azul-ve-c !important;
}

.c-azul-t {
    color: variables.$fd-azul-t !important;
}

.c-azul-vi {
    color: variables.$fd-azul-vi !important;
}

/// Color Verde
.c-verde,
.c-green {
    color: variables.$fd-verde !important;
}

.c-verde-c,
.c-green-s {
    color: variables.$fd-verde-c !important;
}

.c-verde-o,
.c-green-d {
    color: variables.$fd-verde-o-2 !important;
}

.c-verde-t {
    color: variables.$fd-verde-t !important;
}

.c-verde-az {
    color: variables.$fd-verde-az !important;
}

.c-verde-am {
    color: variables.$fd-verde-am !important;
}

/// Color Gris
.c-gris,
.c-gray {
    color: variables.$fd-gris !important;
}

.c-gris-c,
.c-gray-s {
    color: variables.$fd-gris-c !important;
}

.c-gris-o,
.c-gray-d {
    color: variables.$fd-gris-o-2 !important;
}

.c-gris-t {
    color: variables.$fd-gris-t !important;
}

.c-gris-az {
    color: variables.$fd-gris-az !important;
}

.c-gris-az-c {
    color: variables.$fd-gris-az-c !important;
}

.c-gris-az-o {
    color: variables.$fd-gris-az-o !important;
}

.c-gris-n {
    color: variables.$fd-gris-n !important;
}

/// Color Blanco
.c-blanco,
.c-white {
    color: variables.$fd-blanco !important;
}

/// Color Negro
.c-negro,
.c-black {
    color: variables.$fd-negro !important;
}

/// Color Violeta
.c-violeta,
.c-violet {
    color: variables.$fd-violeta !important;
}

.c-violeta-c,
.c-violet-s {
    color: variables.$fd-violeta-c !important;
}

.c-violeta-o,
.c-violet-d {
    color: variables.$fd-violeta-o-1 !important;
}

.fd-violeta-t {
    color: variables.$fd-violeta-t !important;
}

.c-violeta-az {
    color: variables.$fd-violeta-az !important;
}

.c-violeta-ro {
    color: variables.$fd-violeta-ro !important;
}

/// Color Naranja
.c-naranja,
.c-orange {
    color: variables.$fd-naranja !important;
}

.c-naranja-o,
.c-orange-d {
    color: variables.$fd-naranja-o-2 !important;
}

.c-naranja-c,
.c-orange-s {
    color: variables.$fd-naranja-c !important;
}

.c-naranja-t {
    color: variables.$fd-naranja-t !important;
}

.c-naranja-ro {
    color: variables.$fd-naranja-ro !important;
}

.c-naranja-am {
    color: variables.$fd-naranja-am !important;
}


/// Color Amarillo
.c-amarillo,
.c-yellow {
    color: variables.$fd-amarillo !important;
}

.c-amarillo-c,
.c-yellow-s {
    color: variables.$fd-amarillo-c !important;
}

.c-amarillo-o,
.c-yellow-d {
    color: variables.$fd-amarillo-o-2 !important;
}

.c-amarillo-t {
    color: variables.$fd-amarillo-t !important;
}

.c-amarillo-ve {
    color: variables.$fd-amarillo-ve !important;
}

.c-amarillo-an {
    color: variables.$fd-amarillo-an !important;
}

/// Color BodyUI
.c-bodyui,
.c-bodyui {
    color: variables.$fd-rosa-o-1 !important;
    ;
}